body {
    background: rgb(204,204,204); 
  }
/* body {
    background: rgb(204,204,204);
    font-family: "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 13px !important;
    color: #212121;
    background-color: #ffffff;
} */

p{
    font-family: "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 300px !important;
    font-size: 21px !important;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 450; 
    color: #212121;
}
  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
/*  page[size="A4"] { 
    width: 29.7cm;
    height:  21cm;
  }*/
  page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;  
  }
  
    @media print {
    .noprint {
        display: none;
    }
    body, page {
      margin: 0;
      box-shadow: 0;
    }

    .print{   
        width:100%;
        font-size: 20px;
        font-weight: 600;
    }
    
    @page { 
        margin: 3cm ;
        size: A4 portrait;
    }
    
/*     Set font to 16px/13pt, set background to white and font to black.
     This saves ink */
    body {
        font: 13pt Georgia, "Times New Roman", Times, serif;
        line-height: 1.3;
        background: #fff !important;
        color: #000;
    }
    
    h1 {
        font-size: 24pt;
    }
    
    h2, h3, h4 {
        font-size: 14pt;
        margin-top: 20px;
    }
  }