/** background colors **/
.bg-primary {
    background-color: #225dcd !important;
    color: #ffffff;
}

.bg-light-green {
    background-color: #64b78d;
}

.bg-secondary {
    background-color: #1565c0;
    color: #ffffff;
}

.bg-success {
    background-color: #5cb85c;
    color: #ffffff;
}

.bg-yellow {
    background-color: #FCC649;
    color: #ffffff;
}

.bg-light-yellow {
    background-color: rgba(250, 182, 21, 0.7)
}

.bg-info {
    background-color: #5bc0de;
    color: #ffffff;
}

.bg-warning {
    background-color: #f0ad4e;
    color: #ffffff;
}

.bg-danger {
    background-color: #d9534f;
    color: #ffffff;
}

.bg-dark-50 {
    background-color: #556270;
    color: #ffffff;
}

.bg-dark-100 {
    background-color: #293846;
    color: #ffffff;
}

.bg-white {
    background-color: #ffffff;
}

.bg-light {
    background-color: #f8f9fa;
}

.bg-grey {
    background-color: #eeeeee;
}

.bg-light-grey {
    background-color: #fafafa;
}

/*buttons style*/
.btn-primary {
    background: #225dcd;
    border-color: #225dcd;
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #225dcd;
    border-color: #225dcd;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-secondary {
    color: #ffffff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
    color: #ffffff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
    background-image: none;
}

.btn-black {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
    color: #ffffff;
    background-color: #424242;
    border-color: #424242;
}

.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
    background-image: none;
}



.btn.btn-outline-primary{
    color: #212121;
    border: 1px solid #1565c0;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:active, .btn.btn-outline-primary.active {
    background: #ffffff;
    border: 1px solid #1565c0;
    color: #1565c0;
}

.btn.btn-outline-secondary{
    color: #212121 !important;
    border: 1px solid #2c3e50 !important;
}

.btn.btn-outline-secondary:hover, .btn.btn-outline-secondary:focus, .btn.btn-outline-secondary:active, .btn.btn-outline-secondary.active {
    background: #ffffff !important;
    border: 1px solid #2c3e50 !important;
    color: #2c3e50;
}

.btn.btn-outline-info{
    color: #212121 !important;
    border: 1px solid #0097A7 !important;
}

.btn.btn-outline-info:hover, .btn.btn-outline-info:focus, .btn.btn-outline-info:active, .btn.btn-outline-info.active {
    background: #ffffff !important;
    border: 1px solid #0097A7 !important;
    color: #0097A7;
}

.btn.btn-outline-danger{
    color: #212121 !important;
    border: 1px solid #C62828 !important;
}

.btn.btn-outline-danger:hover, .btn.btn-outline-danger:focus, .btn.btn-outline-danger:active, .btn.btn-outline-danger.active {
    background: #ffffff !important;
    border: 1px solid #C62828 !important;
    color: #C62828;
}

.btn.btn-outline-success{
    color: #212121 !important;
    border: 1px solid #388E3C !important;
}

.btn.btn-outline-success:hover, .btn.btn-outline-success:focus, .btn.btn-outline-success:active, .btn.btn-outline-success.active {
    background: #ffffff !important;
    border: 1px solid #388E3C !important;
    color: #388E3C;
}