@charset "utf-8";
/* CSS Document */

/*form style*/

/*form style*/

.pure-form {
    width: 100%;
    margin: 0;
    padding: 10px;
    background: #ffffff;
    border-radius: 0;
    border: 1px solid #f1f1f1;
}

.search-form {
    width: 100%;
    padding: 10px;
    background: #F5F5F5;
    border: 1px solid #eeeeee;
}

.form-group label {
    font-weight: 600;
    font-size: 12px;
}

.form-group span.red {
    color: #CC0000;
}

.form-group span.text-danger{
    font-weight:600 !important;
}

.form-group input[type=text], input[type=email], input[type=password], input[type=file], input[type=date], input[type=number] {
    width: 100%;
    color: #212121 !important;
    font-size: 14px !important;
}

.form-group input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus {
    border-color: #c0c0c0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

#myCustomSearchBox {
    width: 100%;
    border: 1px solid #cacaca;
    font-size: 14px;
}

textarea {
    width: 100%;
    color: #212121 !important;
    font-size: 14px !important;
}

.form-group select {
    width: 100%;
    font-size: 14px;
}