body {
    background: rgb(204,204,204); 
    font-family: 'Times New Roman', Times, serif;
    /* font-size: 21px !important; */
  }
/* body {
    background: rgb(204,204,204);
    font-family: "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 19px !important;
    color: #212121;
    background-color: #ffffff;
} */

  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  page[size="A4"] {
    width: 21cm;
    height: 39.7cm; 
  }
/*  page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;  
  }*/
  
  @media print {
    .noprint {
        display: none;
    }
    body, page {
      margin: 0;
      box-shadow: 0;
    }

    .print{   
        width:100%;
        font-size: 20px;
        font-weight: 600;
    }
    
    @page { 
        margin: 3cm ;
    }
    
    /* Set font to 16px/13pt, set background to white and font to black.*/
    /* This saves ink */
    body {
        font: 13pt Georgia, "Times New Roman", Times, serif;
        line-height: 1.3;
        background: #fff !important;
        color: #000;
    }
    
    h1 {
        font-size: 24pt;
    }
    
    h2, h3, h4 {
        font-size: 14pt;
        margin-top: 20px;
    }
  }