/*-- Use For Custom Styling --*/

/* ===================================
Google font
====================================== */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,400,500,600,700,800');


html {
    width: 100%;
    height: 100%;
}

body {
    font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #212121;
    background-color: #ffffff;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: .375rem;
    padding-left: .375rem;
    width: 100%
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1280px
    }
}

a {
    color: #424242;
}

a:hover, a:focus {
    color: #1565c0;
}

p {
    font-size: 13px !important;
    line-height: 1.5;
    color: #212121;
    text-align: justify;
}

ul {
    list-style: circle;
}

.text-dark-blue {
    color: #0D47A1 !important;
}

.text-primary {
    color: #1565c0 !important;
}

.text-black{
    color: #000 !important;
}

.text-light-black{
    color: #424242 !important;
}

.text-grey{
    color: #616161 !important; 
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #212121;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

i.fa {
    font-size: 14px;
}

.font-weight-bold{
    font-weight: bold;
}

.font-weight-600{
    font-weight: 600;
}

.text-large{
    font-size: 20px;
}

.text-medium{
    font-size: 16px;
}

.text-small{
    font-size: 14px;
}


/*============================
  container
  ==========================*/

/*===========================
	Header Rules
 ==========================*/
.header {
    width: 100%;
    background-color: #225dcd;
}

.header #top-bar {
    width: 100%;
}

.header #top-bar #img {
    float: left;
    margin: 5px;
}

.header #top-bar #img img {
    height: 120px !important;
}

.uni-heading {
    background: url("../img/nkr.png") no-repeat right top;
}

.header #content {
    padding-top: 20px;
}

.header #content h1 {
    color: #ffffff;
    font-size: 32px;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.header #content h3 {
    color: #ffffff;
    font-size: 20px;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

@media (max-width: 980px) {
    .header #top-bar #img img {
        margin: 5px;
        height: 100px !important;
    }
    .header #content h1 {
        color: #ffffff;
        font-size: 24px;
        padding-top: 10px;
        text-transform: uppercase;
        font-weight: 700;
    }
    .header #content h3 {
        color: #ffffff;
        font-size: 18px;
        padding-top: 5px;
        text-transform: uppercase;
        font-weight: 700;
    }
}

/*===============================================
navigation menu
===============================================*/
.navbar-brand {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
    padding-right: 20px;
}

a.navbar-brand {
    font-weight: 900 !important;
}

.navbar-brand:hover {
    color: #ffffff;
}

.navbar .navbar-toggle {
    border-color: #ddd;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar .navbar-collapse, .navbar .navbar-form {
    border-color: #e7e7e7;
}

.navbar .navbar-nav>li>a, .navbar .navbar-nav>li>a:focus {
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
}

.navbar .navbar-nav .dropdown-menu a {
    font-size: 13px;
}

/*=====================================
Page header
==================================== */
section {
    width: 100%;
}

.mt-4 {
    margin-top: 50px !important
}

.page-wrapper {
    background-color: #fafafa;
    color: #212121;
    min-height: 650px;
    height: auto;
}

.page-heading {
    background: #f1f1f1;
    box-shadow: 1px 1px #eeeeee;
    color: #212121;
    width: 100%;
    padding: 10px 0;
    left: 0;
}

.page-heading .page-title {
    float: left;
    text-align: left;
    width: 100%;
}

.page-heading .page-title h4 {
    color: inherit;
    float: left;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px;
    margin: 0 0 5px;
    width: 100%;
}

.page-heading .page-title>ul {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}

.page-heading .page-title>ul li {
    color: inherit;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 0 10px;
    position: relative;
}

.page-heading .page-title>ul li a {
    color: #225dcd;
}

.page-heading .page-title>ul li::before {
    content: "/";
    position: absolute;
    right: -2px;
    top: 1px;
}

.page-heading .page-title>ul li:last-child:before {
    display: none;
}

/*==================================================
Page content
===================================================*/
.page-content {
    width: 100%;
    left: 0;
    margin: 16px 0 0 0;
    padding-bottom: 20px;
}

.item_wr {
    width: 100%;
    margin: 0 0 8px 0;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
    border: solid 1px #e5e5e5;
}

.item_wr .content {
    padding: 10px 15px;
    font-size: 13px;
    transition: all .3s ease
}

.item_wr .content h6 {
    padding: 0;
    margin: 0 0 14px;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
}

.item_wr .content h6 a {
    font-size: 13px !important;
    text-decoration: none !important;
    color: inherit;
    transition: all .3s ease
}

.item_wr .content h6 a:hover {
    color: #225dcd;
}

.item_wr .content h6:after {
    display: none
}

.item_wr .content p {
    line-height: 22px
}

.item_wr .content .meta {
    padding: 0;
    margin: 0;
    list-style: none;
}

.item_wr .content .meta li {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    line-height: 18px;
}

.item_wr .content .meta li:last-child {
    float: right;
}

.item_wr .content .meta li .fa {
    position: absolute;
    top: 2px;
    left: 0;
    width: 14px;
    text-align: center;
    color: #616161;
    font-size: 13px
}

.numberCircle {
    display: inline-block;
    line-height: 0;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
}

.numberCircle span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 8px;
    margin-right: 8px;
}

.numberRect {
    display: inline-block;
    line-height: 0;
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}

.numberRect span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 8px;
    margin-right: 8px;
}

.amount {
    font-weight: 600;
}

#sum {
    font-size: 16px;
    font-weight: 600;
}

.info p {
    font-size: 13px !important;
}

.info p span {
    display: block;
    font-weight: 600;
}

.listing ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.listing ul li {
    padding: 10px 0;
}

.listing ul li a {
    font-weight: 600;
    font-size: 13px;
    color: #1565c0;
}

.listing ul li a:hover {
    text-decoration: underline;
}

/*===============================================
Left Menu
===============================================*/
#left_menu {
    width: 100%;
}

#nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav ul, #nav ul li ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav ul li, #nav ul li ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav li a {
    margin: 0 0 10px 0;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-weight: 600;
    font-size: 13px;
    background-color: #f1f1f1;
    color: #212121;
    border: 1px solid #E6E6E6;
}

#nav li a:hover, #nav li a.active {
    background-color: #DEDDDB;
    border: 1px solid #cccccc;
}

#nav li a.active {
    background-color: #DEDDDB;
}

#nav li ul {
    display: none;
    /* used to hide sub-menus*/
}

#nav li ul li a {
    padding: 10px 25px;
    font-weight: 500;
    background: #ececec;
    border-bottom: 1px dotted #ccc;
    margin-top: 0;
}

/*tabs*/
ul.nav-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.nav-tabs li {
    list-style: none;
}

ul.nav-tabs li a {
    font-size: 14px;
    font-weight: 600;
}

.dropdown .dropdown-item {
    font-size: 12px;
}

/*===============================================
Tables
===============================================*/
table.table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px 0 1em 1px;
    width: 100%;
}

table.table th {
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    color: #333;
    padding: 8px !important;
    background: #f1f1f1;
    border-bottom: 1px solid #E3E3E3;
    border-top: 0 !important;
}

table.table td {
    font-size: 13px;
    font-weight: 500;
    vertical-align: top;
    background: #FFF;
    border-bottom: 1px solid #E3E3E3;
    padding: 8px !important;
}

table.table td a {
    text-decoration: none !important;
    font-weight: normal !important;
}

table.table td a.font-weight-600 {
    font-weight: 600 !important;
    font-size: 12px;
}

table.table th a {
    text-align: right;
    text-decoration: none !important;
    font-weight: normal !important;
}

.table tbody tr.success td {
    background-color: #dff0d8 !important;
}

/*.table tr:nth-child(odd) td {*/

/*background-color: #FAFAFA;*/

/*}*/

/*.table tr:nth-child(even) td {*/

/*background-color: #FFF;*/

/*}*/

.hide{
    display: none;
}

/*card flat */

.card-flat {
    border-top: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 0;
}

.card-flat>.card-header {
    border-radius: 0;
    margin: 0;
    background-color: #fafafa;
}

.card-flat .card-body p {
    font-size: 13px !important;
}

.card-flat .card-body ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.card-flat .card-body ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-flat .card-body ul li a {
    font-size: 13px;
    font-weight: 600;
}

.card-flat .card-body ul li a:hover {
    color: #225dcd;
    text-decoration: none;
}

/*==================================================
Form Wizard
===================================================*/
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#bbb;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 6px 0;
    font-size: 13px;
    line-height: 1.428571429;
    border-radius: 16px;
}

/*==================================================
Footer
===================================================*/
footer {
    background-color: #263238;
}

.copyright {
    padding: 10px 10px 0 10px;
}

.copyright p {
    padding-top: 8px;
    font-size: 14px !important;
    color: #ffffff !important;
    text-align: center;
}

/*==================================================
reset form
===================================================*/
#reset-card {
    padding: 20px 0 280px 0;
}

#reset-card .card-header {
    background-color: #225dcd;
    color: #ffffff;
}

/*=================================================
  steps
 ================================================*/

/* Mark input boxes that gets an error on validation: */

input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */

.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */

.step.finish {
    background-color: #4CAF50;
}

/*===============================================
###DASHBOARD CSS
===============================================*/
.info-box {
    width: 100%;
    border: 2px solid #eeeeee;
    background-color: #fff;
}

.info-box a{
    color: #424242;
}

.info-box a:hover{
    color: #424242;
    text-decoration: none;
}

/*Info class */
.info p {
    font-size: 14px !important;
}

.info p span {
    display: block;
    font-weight: 600;
}

/*===============================================
background colors
===============================================*/
.bg-graph {
    background-color: #fafafa;
}

.bg-grey {
    background-color: #eeeeee;
}

.bg-light-grey {
    background-color: #fafafa;
}

/*=============================================
Button
============================================*/
.btn {
    font-size: 13px !important;
    font-weight: 600;
    border-radius: 0;
}

.btn-xs{
    padding:.10rem .2rem;
    font-size:.675rem;
    line-height:1.5;
    border-radius:.1rem
}


/*=============================================
Icons
============================================*/
i.fa-folder-calls {
    content: "";
    background-image: url("../icons/icon_folder_project.png");
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}

i.fa-applications {
    content: "";
    background-image: url("../icons/icon_project_activities.png");
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}

i.fa-won-applications {
    content: "";
    background-image: url("../icons/icon_won_project.png");
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}

i.fa-active-project {
    content: "";
    background-image: url("../icons/icon_graph_project.png");
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}

i.fa-project-activities {
    content: "";
    background-image: url("../icons/icon_project_activities.png");
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}

i.fa-total-funding {
    content: "";
    background-image: url("../icons/icon_light_bulb_project.png");
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}

i.fa-evaluation {
    content: "";
    background-image: url("../icons/icon_evaluation.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: cover;
}

i.fa-rejected-permits {
    content: "";
    background-image: url("../icons/ban.png");
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}

i.fa-active-permits {
    content: "";
    background-image: url("../icons/active_run_solid.png");
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}

i.fa-expired-permits {
    content: "";
    background-image: url("../icons/expired_time.png");
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}

i.fa-inline-permits {
    content: "";
    background-image: url("../icons/wait_approval.png");
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}

i.fa-vetted-publications {
    content: "";
    background-image: url("../icons/completed_tick_blue.png");
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}

i.fa-inline-vet {
    content: "";
    background-image: url("../icons/waiting_vet_black.png");
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}

i.fa-open-batch {
    content: "";
    background-image: url("../icons/open_box_batch.png");
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}
